body{
	background: grey;
}

.container{
	background: white;
	border: 3px solid black;
	margin-top: 10px;
}

.lentele{
	border: 2px solid black;
	margin: 10px;
	padding: 15px;
}

.mygtukai{
	margin-top: 15px;
}

.lentele label{
	margin-top: 10px;
}

.lentele2{
	padding-right: 0;
	padding-left: 0;
}

